// screen
$tiny: 330px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// colors
$black: #000;
$white: #fff;
$black-blue: #151d21;
$aqua: #88cfce;
$aqua-ultra-light: rgba(134, 237, 245, 0.87);
$aqua-light: rgba(45, 199, 210, 0.801);
$aqua-gray: #445c59;
$aqua-gray-trans: rgba(81, 210, 208, 0.5);
$yellow-light: rgb(206, 238, 100);
$blue-dark: #263238;
$blue-gray: #13547a;
$red: rgb(194, 8, 8);
$brown: rgb(224, 112, 69);
$trans-full: rgba(255, 255, 255, 0);

// fonts
$comfortaa-mss: 'Comfortaa-Medium', sans-serif;
